## Call Wikipedia API to get 2022 events listings

In [1]:
import requests

In [2]:
# Get the Wikipedia page for "2022" since OpenAI's models stop in 2021
params = {
    "action": "query", 
    "prop": "extracts",
    "exlimit": 1,
    "titles": "2022",
    "explaintext": 1,
    "formatversion": 2,
    "format": "json"
}

In [3]:
resp = requests.get("https://en.wikipedia.org/w/api.php", params=params)

In [4]:
response_dict = resp.json()

In [5]:
response_dict["query"]["pages"][0]["extract"].split("\n")

['2022 (MMXXII) was a common year starting on Saturday of the Gregorian calendar, the 2022nd year of the Common Era (CE) and Anno Domini (AD) designations, the 22nd  year of the 3rd millennium and the 21st century, and the  3rd   year of the 2020s decade.  ',
 'The year 2022 saw the removal of nearly all COVID-19 restrictions and the reopening of international borders in most countries, and the global rollout of COVID-19 vaccines continued. The global economic recovery from the pandemic continued, though many countries experienced an ongoing inflation surge; in response, many central banks raised their interest rates to landmark levels. The world population reached eight billion people in 2022, though the year also witnessed numerous natural disasters, including two devastating Atlantic hurricanes (Fiona and Ian), and the most powerful volcano eruption of the century so far. The later part of the year also saw the first public release of ChatGPT by OpenAI starting an arms race in artificial intelligence which increased in intensity into 2023, as well as the collapse of the cryptocurrency exchange FTX.',
 '2022 was also dominated by wars and armed conflicts. While escalations into the internal conflict in Myanmar and the Tigray War dominated the heightening of tensions within their regions and each caused over 10,000 deaths, 2022 was most notable for the Russian invasion of Ukraine, the largest armed conflict in Europe since World War II. The invasion caused the displacement of 15.7 million Ukrainians (8 million internally displaced persons and 7.7 million refugees), and led to international condemnations and sanctions and nuclear threats, the withdrawal of hundreds of companies from Russia, and the exclusion of Russia from major sporting events.',
 '',
 '',
 '== Events ==',
 '',
 '',
 '=== January ===',
 ' 1 January – The Regional Comprehensive Economic Partnership, the largest free trade area in the world, comes into effect for Australia, Brunei, Cambodia, China, Indonesia, Japan, South Korea, Laos, Malaysia, Myanmar, New Zealand, the Philippines, Singapore, Thailand, and Vietnam.',
 '2 January – Abdalla Hamdok resigns as Prime Minister of Sudan amid deadly protests.',
 '4 January – The five permanent members of the UN Security Council—China, France, Russia, the United Kingdom and the United States—issue a rare joint statement affirming that "a nuclear war cannot be won and must never be fought."5 January – A nationwide state of emergency is declared in Kazakhstan in response to the 2022 Kazakh unrest. The cabinet of prime minister Askar Mamin resigns, while president Kassym-Jomart Tokayev removes former president Nursultan Nazarbayev, widely regarded as being the real power in the country, from his position as Chairman of the Security Council of Kazakhstan.',
 '6 January – The CSTO deploys a "peacekeeping" mission in Kazakhstan, including Russian paratroopers, following a request by Kazakh president Tokayev.',
 '7 January – COVID-19 pandemic: The number of COVID-19 cases exceeds 300 million worldwide.',
 '9 January – 6 February – The 2021 Africa Cup of Nations is held in Cameroon, with Senegal winning their first championship.',
 '10 January – The first successful heart transplant from a pig to a human patient occurs in Baltimore, Maryland, United States.',
 "15 January – A large eruption of Hunga Tonga–Hunga Ha'apai, a submarine volcano in Tonga, triggers tsunami warnings in Australia, Canada, Chile, Fiji, Japan, New Zealand, Samoa, and the United States.",
 '16 January – World No. 1 tennis champion Novak Djokovic is deported from Australia following a high-profile legal case regarding his COVID-19 vaccination status, preventing his participation in the 2022 Australian Open.',
 '23 January',
 'Tropical Storm Ana kills 115 people in Madagascar, Malawi and Mozambique, days after a series of floods killed 11 people in Madagascar.',
 "A coup d'état in Burkina Faso removes president Roch Kaboré from power. The Burkinabé military cites the government's failure to contain activities of Islamist militants within the country as a reason for the coup.",
 '24 January – The federal government under Scott Morrison announces that, after more than three years of confidential negotiations, copyright ownership of the Australian Aboriginal Flag has been transferred to the Commonwealth.',
 '28 January – COVID-19 pandemic: The number of vaccinations administered worldwide exceeds 10 billion.',
 '',
 '',
 '=== February ===',
 '3 February – Islamic State leader Abu Ibrahim al-Hashimi al-Qurashi is killed in Atme during a counter-terrorism raid by U.S. special forces in north-western Syria.',
 '4 February – China and Russia issue a joint statement opposing further NATO expansion, expressing "serious concerns" about the AUKUS security pact, and pledging to cooperate with each other on a range of issues.',
 '4 – 20 February – The 2022 Winter Olympics are held in Beijing, China, making it the first city ever to host both the Summer Olympics and Winter Olympics.',
 '5 February – Cyclone Batsirai kills a total of 123 people across Madagascar, Mauritius, and Réunion two weeks after Tropical Storm Ana killed 115 people in the same region.',
 '6 February – Queen Elizabeth II celebrates her "Platinum Jubilee", marking 70 years as Queen of the United Kingdom.',
 '9 February – The biggest breakthrough in fusion energy since 1997 is reported at the Joint European Torus in Oxford, the UK, with 59 megajoules produced over five seconds (11 megawatts of power), more than double the previous record.',
 "21 – 24 February – Russian President Vladimir Putin signs a decree declaring the Luhansk People's Republic and Donetsk People's Republic as independent from Ukraine, and, despite international condemnation and sanctions, begins a full-scale invasion of Ukraine; at dawn on 24 February missiles strike Kyiv. Ukraine severs diplomatic relations with Russia, followed by the Federated States of Micronesia on 25 February.",
 '26 February – Russian invasion of Ukraine: The EU, US, and their allies commit to removing Russian banks from the SWIFT payment system, as well as imposing measures on the Russian Central Bank and further restrictions on Russian elites. These and other sanctions fuel a financial crisis in Russia.',
 '27 February',
 'Russian invasion of Ukraine: Putin orders Russia\'s nuclear deterrent forces to be on "special alert", their highest level, in response to what he calls "aggressive statements" by NATO. The move is condemned by the US.',
 'Russian invasion of Ukraine: European nations ban Russian flights in their airspace.',
 'In a constitutional referendum, Belarus votes to revoke its non-nuclear status and to allow the country to host Russian forces permanently.',
 '28 February',
 'The Intergovernmental Panel on Climate Change (IPCC) releases the second part of its Sixth Assessment Report on climate change. It concludes that many impacts are on the verge of becoming "irreversible".',
 'Russian invasion of Ukraine: Russian and Ukrainian officials meet on the Belarus-Ukraine border for the first round of peace talks, with no resolution.',
 'Russian invasion of Ukraine: Football governing bodies FIFA and UEFA suspend Russian clubs and national teams from all competitions.',
 '2022 Russian financial crisis: In an unprecedented move, Switzerland, Monaco, Singapore and South Korea impose unilateral sanctions over Russia including the introduction of export controls and asset freezes.',
 '',
 '',
 '=== March ===',
 '1 March',
 'Russian invasion of Ukraine: World Athletics bans both Russia and Belarus from competing in all of its events.',
 "Russian invasion of Ukraine: In an emergency session, United Nations member states pass a resolution deploring Russia's invasion of Ukraine and calling for the immediate withdrawal of its forces.",
 '2 March',
 'Russian invasion of Ukraine: Russia captures its first large city, the Black Sea port of Kherson, as shelling intensifies across many parts of Ukraine, including civilian areas.',
 'Russian invasion of Ukraine: The United Nations reports that over a million refugees have now fled from Ukraine to other countries.',
 'The International Criminal Court begins an investigation into possible war crimes committed by Russia in Ukraine.',
 '3 March',
 'Russian invasion of Ukraine: Russia is condemned by world leaders following an attack by its troops on the Zaporizhzhia nuclear plant – the largest in Europe – which led to a fire at the site.',
 'The National Assembly of Armenia elects incumbent minister of High-Tech Industry and former mayor of Yerevan, Vahagn Khachaturyan, as president of Armenia following the resignation of Armen Sarkissian.',
 '4 – 13 March – The 2022 Winter Paralympics are held in Beijing, China, making it the first city to host both Summer Paralympics and Winter Paralympics.',
 '4 March – Insurgency in Khyber Pakhtunkhwa: An Afghan man on behalf of the Islamic State – Khorasan Province commits a suicide attack at a Shia mosque in Peshawar, Khyber Pakhtunkhwa, Pakistan, killing 63 people.',
 "5 March – Researchers in the Antarctic find Endurance, one of the greatest ever undiscovered shipwrecks, which sank in 1915 during Ernest Shackleton's exploration.",
 '7 March – COVID-19 pandemic: The global death toll from COVID-19 surpasses 6 million.',
 '8 March – The US and UK announce a ban on Russian oil, while the EU announces a two-thirds reduction in its demand for Russian gas.',
 '9 March',
 '2022 South Korean presidential election: People Power Party candidate Yoon Suk-yeol is narrowly elected President of South Korea.',
 "Russian invasion of Ukraine: Russia is condemned by world leaders following an air strike in Mariupol that destroys a hospital including a maternity and children's ward.",
 '10 March – The National Assembly of Hungary elects former minister for Family Affairs, Katalin Novák, as president of Hungary in a 137–51 vote.',
 "11 March – Gabriel Boric is sworn in as President of Chile. He becomes the youngest head of state in the nation's history and the first to be born during the military dictatorship of Augusto Pinochet.",
 '12 March – 2022 Turkmenistan presidential election: Serdar Berdimuhamedow, son of former President Gurbanguly Berdimuhamedow, wins with 89% of the total votes.',
 '16 March – Russian invasion of Ukraine: A Russian airstrike on the Mariupol Theatre in Mariupol kills an estimated 600 civilians sheltering inside.',
 '19 March – The apostolic constitution Praedicate evangelium, reforming the Roman Curia, is promulgated by Pope Francis, coming into force on 5 June.',
 '21 March – China Eastern Airlines Flight 5735 crashes in Guangxi, China, killing all 133 people on board.',
 '24 March – Russian invasion of Ukraine: NATO announces that four new battlegroups totaling 40,000 troops will be deployed in Bulgaria, Hungary, Romania and Slovakia, along with enhanced readiness for potential chemical, biological, radiological and nuclear threats.',
 '27 March – The M23 offensive begins in North Kivu, Democratic Republic of the Congo.',
 '29 March – The Democratic Republic of the Congo is admitted to the East African Community.',
 '31 March – Expo 2020 closes in Dubai after a 6-month run; originally scheduled for 10 April 2021, it was delayed due to the COVID-19 pandemic.',
 '',
 '',
 '=== April ===',
 "3 AprilRussian invasion of Ukraine: As Russia's forces retreat from areas near Kyiv, it is accused by Ukraine of war crimes, amid mounting evidence of indiscriminate civilian killings, including the Bucha massacre.",
 'The second round of voting of the 2022 Costa Rican general election is held, and Social Democratic Progress Party presidential candidate Rodrigo Chaves Robles is elected president.',
 '4 April – The Intergovernmental Panel on Climate Change (IPCC) releases the third and final part of its Sixth Assessment Report on climate change, warning that greenhouse gas emissions must peak by 2025 at the latest and decline 43% by 2030, in order to limit global warming to 1.5 °C (2.7 °F).',
 '6 April – The first known dinosaur fossil linked to the very day of the Chicxulub impact is reported by palaeontologists.',
 '7 April',
 'The UN votes by 93–24 to suspend Russia from the Human Rights Council, with 58 countries abstaining.',
 "President of Yemen Abdrabbuh Mansur Hadi resigns from office, dismisses vice president Ali Mohsen al-Ahmar, and transfers both offices' powers to the newly formed eight-member Presidential Leadership Council, chaired by Rashad al-Alimi.",
 '8 April',
 'Russian invasion of Ukraine: Russia is condemned by world leaders following a missile attack on Kramatorsk train station, which kills 59 civilians trying to evacuate, including seven children.',
 "Global food prices increase to their highest level since the UN's Food Price Index began in 1990, with commodities such as wheat rising by nearly 20% as a result of the Ukraine crisis.",
 '11 April – The National Assembly of Pakistan elects leader of the opposition Shehbaz Sharif as prime minister of Pakistan, after Imran Khan is removed from office following a motion of no confidence two days prior.',
 '13 April – COVID-19 pandemic: The number of confirmed cases exceeds 500 million worldwide.',
 '14 April – Russian invasion of Ukraine: The Russian flagship Moskva becomes the largest warship to be sunk in action since World War II. Ukraine claims to have struck it with Neptune anti-ship missiles, while Russia claims it sank during stormy weather after an onboard fire.18 April – Russian invasion of Ukraine: The battle of Donbas begins, leading to the deaths of several thousand military personnel and civilians.',
 '19 April – The second round of voting of the 2022 East Timorese presidential election is held and the National Congress for Timorese Reconstruction party presidential candidate, former president and former prime minister José Ramos-Horta is elected.',
 '20 April – A European Southern Observatory team announce the discovery of micronovae, a new type of exploding star.',
 '22 April – The Large Hadron Collider recommences full operations, three years after being shut down for upgrades.',
 '24 April – The 2022 Slovenian parliamentary election is held to elect all 90 members of the National Assembly of Slovenia, the lower house of the Slovenian Parliament; the Freedom Movement party becomes the largest party, winning 41 of 90 seats.',
 '25 April – Elon Musk reaches an agreement to acquire the social media network Twitter (which he later rebrands as X) for $44 billion USD, which later closes in October.',
 '27 April – The European Union accuses Russia of blackmail after gas supplies to Poland and Bulgaria are halted by energy giant Gazprom.',
 '28 April – The Parliament of Montenegro elects a new government with Dritan Abazović as prime minister, following a motion of no confidence against the government of Zdravko Krivokapić.',
 '',
 '',
 '=== May ===',
 '6 May – 2022 monkeypox outbreak: An outbreak of monkeypox begins when the first monkeypox virus case is reported in London, the United Kingdom.',
 '9 May',
 'Prime Minister of Sri Lanka Mahinda Rajapaksa resigns as a result of massive protests against his government across the country. He is succeeded by Ranil Wickremesinghe as prime minister three days later.',
 '2022 Philippine presidential election: Bongbong Marcos and Sara Duterte are elected the 17th President and 15th Vice President of the Philippines in a landslide victory.',
 '10–14 May – The Eurovision Song Contest 2022 is held in Turin, Italy. The contest is won by Ukrainian folk-rap group Kalush Orchestra with their song "Stefania".',
 '12 May – The Event Horizon Telescope collaboration reveals its first image of Sagittarius A*, the supermassive black hole at the centre of the Milky Way.',
 '13 May – Mohamed bin Zayed Al Nahyan is elected as the 3rd president of the United Arab Emirates by the Federal Supreme Council following the death of Khalifa bin Zayed Al Nahyan a day earlier.',
 '15 May – Former President of Somalia Hassan Sheikh Mohamud is elected president again, beating President Mohamed Abdullahi Mohamed.',
 '16 May – Russian invasion of Ukraine: The Siege of Mariupol ends in a Russian victory as Ukrainian troops are evacuated from Mariupol.',
 '20 May – 2022 monkeypox outbreak: The World Health Organization (WHO) holds an emergency meeting to discuss the spread of monkeypox in nearly a dozen countries, as the number of reported cases reaches 100.',
 '21 May – 2022 Australian federal election: The Labor party, led by Anthony Albanese, defeats the Liberal-National Coalition government led by Prime Minister Scott Morrison. Albanese would be sworn in on 23 May.',
 '27 May – Fiji announces that it will become the 14th member of the Indo-Pacific Economic Framework for Prosperity in order to counter Chinese influence in the Pacific. This comes amid a visit by Chinese foreign minister Wang Yi to Kiribati.',
 '28 May – Spanish club Real Madrid beat English club Liverpool 1–0 to win the UEFA Champions League final played at the Stade de France in Paris, France.',
 '',
 '',
 '=== June ===',
 '4 June – Retired general Bajram Begaj is elected the 9th President of Albania by the parliament in the 4th round of voting.',
 '5 June – At least 50 people are killed in a dual mass shooting-bomb attack in Owo, Nigeria.',
 '14 June – Canada and Denmark end their competing claims for Hans Island by dividing the island roughly in half, ending what was referred to as the Whisky War.',
 '19 June',
 "The second round of the 2022 legislative election is held in France, resulting in a hung parliament, with President Macron's coalition losing its majority in the National Assembly. A newly-formed coalition of left-wing parties, led by far-left Jean-Luc Mélenchon, makes significant gains. Marine Le Pen's far-right National Rally also makes historic gains, increasing its number of MPs tenfold and becoming the largest opposition party in Parliament. Two weeks later, Macron's government is reshuffled, continuing as a minority administration.",
 'The second round of the 2022 Colombian presidential election is held, and former guerrilla fighter for the 19th of April Movement and incumbent senator, Gustavo Petro, defeats businessman and former mayor of Bucaramanga, Rodolfo Hernández Suárez.',
 '22 June – A 6.2 earthquake strikes the Durand Line between Afghanistan and Pakistan, killing at least 1,163 people.',
 "23 June – Dickon Mitchell's party wins a majority of seats in Grenada's general election, defeating Prime Minister Keith Mitchell's party. Mitchell is appointed Prime Minister of Grenada, following Keith Mitchell's resignation on June 24.",
 '26 June – G7 leaders gather for a summit in Germany to discuss the situation in Ukraine. A ban on imports of Russian gold is announced.',
 '27 June – 53 migrants from Mexico, Honduras, Guatemala, and El Salvador are found dead in a tractor trailer in San Antonio, Texas, United States.',
 '28 – 30 June – A NATO summit is held in Madrid, Spain along with the presence of guest countries from the European Union and the Indo-Pacific primarily searching for a consensual defensive reinforcement after the Russian invasion of Ukraine and the sustained threatening over the territorial integrity of other countries.',
 '',
 '',
 '=== July ===',
 '1 July – Yair Lapid succeeds Naftali Bennett as Prime Minister of Israel, while Bennett succeeds Lapid as Alternate Prime Minister of Israel; this arrangement had been created after the 2021 Israeli legislative election, in which no party won an outright majority.',
 "6 – 31 July – UEFA Women's Euro 2022 is held in England, with the hosts winning their first major tournament since 1966.",
 '7 – 17 July – The 2022 World Games is held in Birmingham, Alabama, United States.',

In [6]:
import pandas as pd

In [7]:
df = pd.DataFrame()
df["text"] = response_dict["query"]["pages"][0]["extract"].split("\n")

In [8]:
df = df[df["text"].str.len() > 0]
df

                                                  text
0    2022 (MMXXII) was a common year starting on Sa...
1    The year 2022 saw the removal of nearly all CO...
2    2022 was also dominated by wars and armed conf...
5                                         == Events ==
8                                      === January ===
..                                                 ...
242                                 == Demographics ==
243  The world population was estimated to have rea...
246                                       == Deaths ==
249                                 == Nobel Prizes ==
252                                   == References ==

[219 rows x 1 columns]

In [9]:
df = df[~df["text"].str.startswith("==")]
df

                                                  text
0    2022 (MMXXII) was a common year starting on Sa...
1    The year 2022 saw the removal of nearly all CO...
2    2022 was also dominated by wars and armed conf...
9     1 January – The Regional Comprehensive Econom...
10   2 January – Abdalla Hamdok resigns as Prime Mi...
..                                                 ...
236  21–26 December – A major winter storm hits the...
237  24 December – 2022 Fijian general election: Th...
238  29 December – Brazilian football legend Pelé d...
239  31 December – Former Pope Benedict XVI dies at...
243  The world population was estimated to have rea...

[202 rows x 1 columns]

In [10]:
from dateutil.parser import parse

In [11]:
prefix = ""
for (i, row) in df.iterrows():
    # If the row already has " - ", it already has the needed date prefix
    if " – " not in row["text"]:
        try:
            # If the row's text is a date, set it as the new prefix
            parse(row["text"])
            prefix = row["text"]
        except:
            # If the row's text isn't a date, add the prefix
            row["text"] = prefix + " – " + row["text"]
df = df[df["text"].str.contains(" – ")].reset_index(drop=True)
df

                                                  text
0     – 2022 (MMXXII) was a common year starting on...
1     – The year 2022 saw the removal of nearly all...
2     – 2022 was also dominated by wars and armed c...
3     1 January – The Regional Comprehensive Econom...
4    2 January – Abdalla Hamdok resigns as Prime Mi...
..                                                 ...
175  21–26 December – A major winter storm hits the...
176  24 December – 2022 Fijian general election: Th...
177  29 December – Brazilian football legend Pelé d...
178  31 December – Former Pope Benedict XVI dies at...
179  7 December – The world population was estimate...

[180 rows x 1 columns]

In [12]:
df.to_csv("data/text.csv")

## Embedding

In [13]:
import openai
f = open("../../openai_app.key", "rt")
openai.api_key = f.read()

In [14]:
EMBEDDING_MODEL_NAME = "text-embedding-ada-002"

In [15]:

batch_size = 100
embeddings = []
for i in range(0, len(df), batch_size):
    # Send text data to OpenAI model to get embeddings
    response = openai.Embedding.create(
        input=df.iloc[i:i+batch_size]["text"].tolist(),
        engine=EMBEDDING_MODEL_NAME
    )

    # Add embeddings to list
    embeddings.extend([data["embedding"] for data in response["data"]])

# Add embeddings list to dataframe
df["embeddings"] = embeddings

In [16]:
df

,text,embeddings
0,– 2022 (MMXXII) was a common year starting on...,"[-9.17855777515797e-06, -0.018004480749368668,..."
1,– The year 2022 saw the removal of nearly all...,"[-0.010343171656131744, -0.023116888478398323,..."
2,– 2022 was also dominated by wars and armed c...,"[-0.009752900339663029, -0.0154692018404603, 0..."
3,1 January – The Regional Comprehensive Econom...,"[-0.002039003651589155, -0.02498391643166542, ..."
4,2 January – Abdalla Hamdok resigns as Prime Mi...,"[-0.016290072351694107, 0.005167210940271616, ..."
...,...,...
175,21–26 December – A major winter storm hits the...,"[-0.02596324123442173, -0.01704932563006878, 0..."
176,24 December – 2022 Fijian general election: Th...,"[-0.010850615799427032, -0.007660393137484789,..."
177,29 December – Brazilian football legend Pelé d...,"[-0.006588870193809271, 0.006336679682135582, ..."
178,31 December – Former Pope Benedict XVI dies at...,"[0.01998756267130375, 0.010498648509383202, -0..."
179,7 December – The world population was estimate...,"[0.004343901760876179, -0.01311057060956955, -..."

In [17]:
df.to_csv("data/embeddings.csv")

## Cosine Similarity

In [18]:
import numpy as np
import pandas as pd
df = pd.read_csv("../embeddings.csv", index_col=0)
df["embeddings"] = df["embeddings"].apply(eval).apply(np.array)
df

,text,embeddings
0,– 2022 (MMXXII) was a common year starting on...,"[9.742109250510111e-05, -0.018078520894050598,..."
1,– 2022 saw the removal of nearly all COVID-19...,"[-0.006740245968103409, -0.024927902966737747,..."
2,"– The Russian invasion of Ukraine, the larges...","[-0.0062200650572776794, -0.007076282054185867..."
3,"– Many prominent figures died in 2022, includ...","[-0.0067838518880307674, -0.008528643287718296..."
10,January 1 – The Regional Comprehensive Economi...,"[-0.0005128878983668983, -0.02750258892774582,..."
...,...,...
229,December 7 – After substantial protests agains...,"[0.015803100541234016, -0.01866208389401436, -..."
230,December 17 – Leo Varadkar succeeds Micheál Ma...,"[0.008315027691423893, -0.02372470125555992, -..."
231,December 19 – At the UN Biodiversity Conferenc...,"[0.0017093520145863295, -0.009248359128832817,..."
232,December 21–26 – A major winter storm hits the...,"[-0.024563809856772423, -0.020963717252016068,..."
233,December 24 – 2022 Fijian general election: Th...,"[-0.011584475636482239, -0.009254708886146545,..."

## Find Embeddings which is close to the question

In [19]:
question="When did Russia invaded Ukraine?"

In [20]:
from openai.embeddings_utils import get_embedding
question_embeddings = get_embedding(question, engine=EMBEDDING_MODEL_NAME)
question_embeddings

[0.0020747568923979998,
 -0.018061840906739235,
 0.002959392499178648,
 -0.01575796864926815,
 -0.024858897551894188,
 0.0024216105230152607,
 -0.014510569162666798,
 -0.02499891072511673,
 -0.014879697933793068,
 -0.0198183823376894,
 0.019640183076262474,
 0.026424510404467583,
 -0.007955356501042843,
 -0.013797769322991371,
 -0.007115270476788282,
 -0.010832012630999088,
 0.010882927104830742,
 -0.003538542427122593,
 0.03194871172308922,
 -0.017030825838446617,
 -0.013479555025696754,
 -0.01635621301829815,
 -4.819827154278755e-06,
 -0.00033253387664444745,
 -0.013135883957147598,
 0.007357113528996706,
 0.014586941339075565,
 -0.031388651579618454,
 0.015376112423837185,
 -0.013886869885027409,
 -0.00947642046958208,
 -0.020951226353645325,
 -0.021205797791481018,
 -0.014370555058121681,
 -0.036301881074905396,
 -0.03184688091278076,
 0.009813726879656315,
 -0.008260841481387615,
 0.015579769387841225,
 -0.002591855125501752,
 0.010106484405696392,
 0.018660083413124084,
 -0.004334078170359135,
 0.007522584870457649,
 -0.0019840658642351627,
 0.0014876516070216894,
 0.0073952991515398026,
 -0.0070134419947862625,
 0.01106749102473259,
 0.024960724636912346,
 0.04121511057019234,
 0.03790568187832832,
 -0.03546179458498955,
 -0.019283782690763474,
 -0.007134363520890474,
 -0.01799819804728031,
 -0.010227405466139317,
 0.007567134685814381,
 0.003678556764498353,
 -0.020823940634727478,
 0.009788270108401775,
 -0.007834434509277344,
 -0.005906056612730026,
 0.0005612503737211227,
 -0.014014155603945255,
 0.012295798398554325,
 -0.022147711366415024,
 -0.0034844460897147655,
 -0.019156496971845627,
 -0.004591831471771002,
 0.0238787978887558,
 0.05078699439764023,
 0.013517741113901138,
 0.010341962799429893,
 0.039025794714689255,
 -0.009902827441692352,
 -0.012143055908381939,
 -0.020594825968146324,
 -0.01638166978955269,
 -0.022313183173537254,
 0.0201747827231884,
 -0.019614726305007935,
 -0.009890099056065083,
 0.019640183076262474,
 0.006186084821820259,
 0.013326812535524368,
 0.0053841848857700825,
 0.026704538613557816,
 -0.026729997247457504,
 -0.01045652013272047,
 0.004448635037988424,
 0.0029021138325333595,
 0.021740397438406944,
 0.016827169805765152,
 -0.006055617239326239,
 -0.01761634089052677,
 -0.023191453889012337,
 0.025609882548451424,
 0.006542484741657972,
 -0.022402282804250717,
 0.015630682930350304,
 0.007598956115543842,
 -0.037116508930921555,
 -0.01619074121117592,
 -0.03762565180659294,
 -0.007503491826355457,
 -0.013059512712061405,
 -0.002273640828207135,
 0.013670483604073524,
 -0.0022990978322923183,
 -0.013823227025568485,
 0.023267826065421104,
 0.014497840777039528,
 -0.05068516358733177,
 0.014663312584161758,
 -0.02532985433936119,
 0.013224983587861061,
 -0.025648068636655807,
 -0.0029673478566110134,
 -0.04984508082270622,
 0.019563810899853706,
 0.018914654850959778,
 0.007758063264191151,
 -0.0006264842813834548,
 0.025584425777196884,
 -0.007522584870457649,
 0.001710401615127921,
 0.014179626479744911,
 0.018392782658338547,
 -0.006975256372243166,
 0.04070596769452095,
 0.01082564890384674,
 -0.0037772031500935555,
 -0.02146036922931671,
 -0.007376206107437611,
 0.021307626739144325,
 -0.02879202552139759,
 0.007121634669601917,
 -0.013415912166237831,
 -0.03159230947494507,
 0.015159727074205875,
 0.0015162908239290118,
 -0.012804941274225712,
 -0.006618856452405453,
 0.015070626512169838,
 0.03810933977365494,
 0.012060320004820824,
 0.019882025197148323,
 -0.011175684630870819,
 -0.005788316950201988,
 0.034138023853302,
 0.014599669724702835,
 0.014115983620285988,
 0.010691998526453972,
 0.04523733630776405,
 0.001263310550712049,
 -0.01941106840968132,
 0.004464545752853155,
 0.007026170380413532,
 0.0021686300169676542,
 -0.013721398077905178,
 0.0018901926232501864,
 -0.013027691282331944,
 0.010730184614658356,
 -0.01087656244635582,
 0.02963211014866829,
 0.045466452836990356,
 0.018532797694206238,
 0.011003848165273666,
 -0.016318026930093765,
 -0.0071916417218744755,
 0.014459655620157719,
 -0.020836668089032173,
 0.0062529100105166435,
 0.00989646278321743,
 0.02557169646024704,
 0.006517027970403433,
 0.002588672796264291,
 -0.03126136586070061,
 0.001326157827861607,
 -0.02769736759364605,
 0.013046784326434135,
 0.01747632585465908,
 0.0057660420425236225,
 -0.0038567567244172096,
 -0.001398551627062261,
 0.017896369099617004,
 0.00423861388117075,
 0.01039924193173647,
 -0.015592497773468494,
 0.0075925919227302074,
 0.012792212888598442,
 0.016979912295937538,
 0.0007450191187672317,
 -0.6415199041366577,
 -0.041342396289110184,
 -0.005578295793384314,
 0.0025091192219406366,
 0.002593446057289839,
 0.019181955605745316,
 0.02652633935213089,
 0.011309334076941013,
 -0.009260034188628197,
 -0.006046070717275143,
 -0.0049195922911167145,
 0.005664213560521603,
 -0.013301355764269829,
 -0.0023436478804796934,
 -0.02110396884381771,
 -0.03505448251962662,
 -0.009374591521918774,
 0.012448540888726711,
 0.042818907648324966,
 -0.007840799167752266,
 -0.0030182620976120234,
 0.037116508930921555,
 -0.012162148021161556,
 0.015656141564249992,
 0.006408834829926491,
 -0.016368940472602844,
 -0.012734933756291866,
 -0.023165997117757797,
 -0.023675139993429184,
 0.03502902388572693,
 -0.022389553487300873,
 0.02205861173570156,
 0.0017756355227902532,
 0.014943340793251991,
 0.02998851053416729,
 -0.00423861388117075,
 -0.010921113193035126,
 0.03999316692352295,
 -0.0010286275064572692,
 0.028639281168580055,
 -0.015465212054550648,
 -0.000893386488314718,
 0.003532178234308958,
 0.005065970588475466,
 -0.0001378265442326665,
 0.005995156243443489,
 0.03884759545326233,
 0.00982645619660616,
 0.0329415388405323,
 -0.021282168105244637,
 -0.014166898094117641,
 0.0063579208217561245,
 -0.011621184647083282,
 0.012919498607516289,
 0.013874141499400139,
 -0.010762006044387817,
 -0.009151841513812542,
 0.0011694373097270727,
 -0.008063549175858498,
 -0.037829309701919556,
 -0.025800811126828194,
 0.01955108344554901,
 -0.014179626479744911,
 0.018914654850959778,
 -0.03261059522628784,
 -0.014510569162666798,
 -0.035181768238544464,
 0.007993541657924652,
 0.02336965501308441,
 -0.003589456668123603,
 0.03187233954668045,
 0.0074780345894396305,
 0.011264784261584282,
 0.0039681317284703255,
 0.010736548341810703,
 0.005552838556468487,
 0.021956782788038254,
 0.002133626490831375,
 0.013123155571520329,
 -0.034418053925037384,
 -0.0259026400744915,
 -0.020862126722931862,
 -0.025253482162952423,
 0.004451817367225885,
 0.03113408200442791,
 0.004302256740629673,
 -0.02382788248360157,
 0.010030113160610199,
 -0.0033635245636105537,
 -0.013212255202233791,
 -0.0038631209172308445,
 0.03752382472157478,
 -0.008566327393054962,
 0.006784327793866396,
 -0.022096797823905945,
 0.05121976509690285,
 -0.0012664926471188664,
 0.002054072916507721,
 0.010367420502007008,
 0.017183568328619003,
 0.0008345168316736817,
 0.009750084020197392,
 -0.007630777545273304,
 -0.004715935327112675,
 -0.006777963601052761,
 0.021282168105244637,
 -0.03459625318646431,
 0.006214724387973547,
 0.03688739612698555,
 -0.031363196671009064,
 0.031286824494600296,
 -0.017514511942863464,
 -0.0019442890770733356,
 0.0007887735846452415,
 -0.0010198766831308603,
 -0.027060938999056816,
 0.010730184614658356,
 0.03464716672897339,
 0.021053055301308632,
 -0.005562385078519583,
 0.004960960242897272,
 -0.010806555859744549,
 0.04062959551811218,
 -0.02925025299191475,
 -0.0019411068642511964,
 0.00561648141592741,
 0.0027207317762076855,
 -0.01965291239321232,
 -0.019041940569877625,
 0.0031996441539376974,
 0.017272669821977615,
 0.010112849064171314,
 0.03001396730542183,
 -0.016508955508470535,
 1.885668098111637e-05,
 0.023331468924880028,
 0.010952934622764587,
 -0.008229020051658154,
 0.012505820021033287,
 0.006580670364201069,
 -0.011213869787752628,
 0.005381003022193909,
 0.014625126495957375,
 0.014790598303079605,
 0.014332369901239872,
 -0.0048241280019283295,
 -0.011843934655189514,
 0.008852720260620117,
 -0.024107910692691803,
 0.008445406332612038,
 0.025037096813321114,
 -0.005874235183000565,
 0.011379341594874859,
 -0.02685728296637535,
 -0.0185073409229517,
 -0.002668226370587945,
 -0.01804911158978939,
 -0.006466113496571779,
 0.015885254368185997,
 -0.03317065164446831,
 0.005686488468199968,
 0.02616993896663189,
 -0.0038694851100444794,
 0.013428641483187675,
 0.011964855715632439,
 -0.002319781808182597,
 0.00875089131295681,
 0.018112754449248314,
 -0.009979198686778545,
 -0.010819284245371819,
 -0.002778010442852974,
 -0.009921920485794544,
 0.004579103086143732,
 -0.001867917599156499,
 0.020251154899597168,
 0.012454905547201633,
 -0.019971126690506935,
 0.002758917398750782,
 -0.018443698063492775,
 -0.0015823203139007092,
 0.016458040103316307,
 0.006272002588957548,
 -0.031312283128499985,
 0.0009745311108417809,
 0.015516126528382301,
 0.024897081777453423,
 -0.013568655587732792,
 0.027850110083818436,
 0.01106749102473259,
 0.01687808334827423,
 -0.014026883989572525,
 0.017489055171608925,
 0.010991119779646397,
 -0.024197010323405266,
 -0.00571830989792943,
 -0.008388127200305462,
 0.007656234782189131,
 0.024846168234944344,
 0.014485112391412258,
 0.01829095557332039,
 0.02576262503862381,
 -0.008572692051529884,
 0.005113702733069658,
 0.00045146644697524607,
 0.004986417014151812,
 -0.010176491923630238,
 0.0017899550730362535,
 -0.01687808334827423,
 0.0472739078104496,
 0.0102655915543437,
 0.016674427315592766,
 -0.017196297645568848,
 -0.02657725289463997,
 -0.014548755250871181,
 -0.001963381888344884,
 0.021065782755613327,
 -0.005046878010034561,
 -0.01878736913204193,
 -0.014917884021997452,
 -0.0026364049408584833,
 -0.01788363978266716,
 -0.02606811188161373,
 0.014650584198534489,
 -0.019258325919508934,
 -0.028155596926808357,
 -0.013657755218446255,
 -0.005597388371825218,
 0.01010011974722147,
 0.026297224685549736,
 -0.00912002008408308,
 -0.004270435310900211,
 0.00796172022819519,
 -0.009552791714668274,
 0.026704538613557816,
 0.030930424109101295,
 0.007229827810078859,
 0.009260034188628197,
 0.008846355602145195,
 -0.0017549515468999743,
 -0.019283782690763474,
 0.00833084899932146,
 -0.003471717471256852,
 0.027544625103473663,
 0.016241654753684998,
 -0.0050246031023561954,
 -0.016101641580462456,
 0.006784327793866396,
 0.002868701471015811,
 -0.03884759545326233,
 -0.013301355764269829,
 0.002854381687939167,
 -0.008579055778682232,
 -0.003462170949205756,
 -0.0064311097376048565,
 -0.01222579088062048,
 -0.042462509125471115,
 0.013555927202105522,
 -0.002486844314262271,
 0.013110427185893059,
 0.033425223082304,
 0.015643412247300148,
 -0.006030160002410412,
 0.0010636311490088701,
 0.0037772031500935555,
 0.0038281173910945654,
 -0.004171788692474365,
 0.023458754643797874,
 0.024858897551894188,
 0.017679983749985695,
 -0.035538166761398315,
 -0.02729005366563797,
 -0.034418053925037384,
 0.0005775588797405362,
 -0.013581383973360062,
 0.0005055628716945648,
 -0.0033698887564241886,
 0.015096084214746952,
 0.00032139639370143414,
 0.012015770189464092,
 0.007484399247914553,
 -0.018901925534009933,
 -0.013377727009356022,
 0.02153673954308033,
 0.0033889818005263805,
 0.008496320806443691,
 -0.019703825935721397,
 -0.015579769387841225,
 0.014243269339203835,
 -0.04424450919032097,
 0.019525626674294472,
 0.01864735409617424,
 0.012467633932828903,
 -0.01668715476989746,
 -0.008502684533596039,
 -0.026628168299794197,
 -0.016674427315592766,
 0.023535124957561493,
 -0.030650395900011063,
 -0.017654526978731155,
 -0.015821611508727074,
 -0.011907577514648438,
 -0.0035862745717167854,
 -0.013683212921023369,
 -0.016648968681693077,
 0.027544625103473663,
 -0.012512183748185635,
 0.008451770059764385,
 -0.001303087337873876,
 0.008203563280403614,
 0.009788270108401775,
 0.00014299752365332097,
 0.002587081864476204,
 -0.01158936321735382,
 0.026729997247457504,
 0.0007350749219767749,
 0.026348140090703964,
 -0.027773739770054817,
 0.012550369836390018,
 0.02249138243496418,
 0.018112754449248314,
 -0.008839991874992847,
 -0.019118312746286392,
 -0.019131040200591087,
 -0.03070131130516529,
 0.08685976266860962,
 0.030472196638584137,
 0.013428641483187675,
 0.020633012056350708,
 0.012111234478652477,
 -0.006427927874028683,
 -0.0037772031500935555,
 -0.030574025586247444,
 0.00044192004133947194,
 0.0037231065798550844,
 0.015185183845460415,
 0.013263169676065445,
 0.01594889722764492,
 0.016063455492258072,
 0.021587654948234558,
 0.0016738069243729115,
 0.029733939096331596,
 -0.02426065318286419,
 -0.014332369901239872,
 -0.018736455589532852,
 0.006663406267762184,
 0.000185558688826859,
 0.0003335282963234931,
 0.03141411021351814,
 -0.003866303013637662,
 0.008451770059764385,
 0.005365092307329178,
 -0.013874141499400139,
 0.02303871139883995,
 -0.001651531900279224,
 -0.027010025456547737,
 0.010036476887762547,
 0.0049195922911167145,
 -0.009991927072405815,
 -0.010303777642548084,
 -0.016458040103316307,
 0.0038440281059592962,
 0.013161340728402138,
 0.007598956115543842,
 0.0036817388609051704,
 0.012817669659852982,
 -0.012633105739951134,
 -0.012041226960718632,
 0.0008464498678222299,
 0.00891636312007904,
 -0.0030532656237483025,
 0.0001958011998794973,
 0.024515224620699883,
 -0.013428641483187675,
 -0.0031741871498525143,
 0.014077798463404179,
 0.007420756388455629,
 -0.02480798214673996,
 -0.00894181989133358,
 -0.015363384038209915,
 0.009457327425479889,
 0.013925055041909218,
 0.005877417046576738,
 -0.03490173816680908,
 0.0012855855748057365,
 0.0039490386843681335,
 -0.022147711366415024,
 -0.0057660420425236225,
 -0.02800285443663597,
 -0.001867917599156499,
 -0.037447452545166016,
 -0.021765854209661484,
 -0.012900405563414097,
 -0.014345098286867142,
 -0.0084772277623415,
 -0.01771816983819008,
 -0.030955880880355835,
 -0.018520068377256393,
 0.016916269436478615,
 0.032432395964860916,
 0.02611902542412281,
 0.00025536693283356726,
 -0.013123155571520329,
 -0.025342581793665886,
 0.03235602378845215,
 0.010418334044516087,
 -0.04062959551811218,
 0.003809024579823017,
 -0.0029912139289081097,
 0.007662598975002766,
 -0.009438234381377697,
 -0.009934648871421814,
 -0.004588649608194828,
 0.002631631912663579,
 -0.021282168105244637,
 0.003993588965386152,
 0.012384898029267788,
 0.013479555025696754,
 -0.015312469564378262,
 0.0038567567244172096,
 0.002238637302070856,
 -0.012359441258013248,
 0.02382788248360157,
 -0.003961767535656691,
 0.022096797823905945,
 0.016827169805765152,
 -0.022287726402282715,
 -0.009902827441692352,
 0.0006101758335717022,
 -0.0073952991515398026,
 0.0020604373421519995,
 0.0070325350388884544,
 0.01771816983819008,
 -0.005441463552415371,
 0.0004602173576131463,
 0.01838005520403385,
 -0.041291479021310806,
 -0.025253482162952423,
 0.019805654883384705,
 0.024120640009641647,
 0.028588367626070976,
 0.015656141564249992,
 0.020047497004270554,
 0.000677000789437443,
 0.02205861173570156,
 0.003408074611797929,
 -0.001354001578874886,
 -0.002361149759963155,
 0.012703112326562405,
 -0.010564712807536125,
 0.017298126593232155,
 0.0008917954401113093,
 -0.018825555220246315,
 -0.026373596861958504,
 -0.016343483701348305,
 0.0026252674870193005,
 0.025240754708647728,
 0.007643506396561861,
 -0.005988792050629854,
 -0.011665734462440014,
 0.016979912295937538,
 -0.014943340793251991,
 0.014421469531953335,
 0.014217812567949295,
 -0.02036571130156517,
 -0.017005369067192078,
 -0.0016069819685071707,
 -0.042055193334817886,
 -0.03459625318646431,
 -0.029733939096331596,
 -0.020136596634984016,
 0.008375398814678192,
 -0.0003563999489415437,
 -0.009807363152503967,
 0.005788316950201988,
 -0.01902921125292778,
 -0.010157398879528046,
 -0.00022195444034878165,
 0.01200940553098917,
 0.0028448353987187147,
 -0.01914376951754093,
 -0.016394397243857384,
 0.03121045231819153,
 0.014154169708490372,
 0.010730184614658356,
 0.02955573983490467,
 0.025126196444034576,
 0.013657755218446255,
 -0.004785942379385233,
 -0.004935503005981445,
 -0.0008464498678222299,
 0.007465306203812361,
 0.008948184549808502,
 -0.0028814300894737244,
 -0.01102930586785078,
 0.04292073845863342,
 0.007318927440792322,
 -0.008954549208283424,
 -0.003166231792420149,
 -0.01647076942026615,
 0.011462077498435974,
 -0.011678462848067284,
 0.017794540151953697,
 -0.01554158329963684,
 -0.01962745375931263,
 -0.0017804086674004793,
 -0.012645834125578403,
 -0.021473096683621407,
 -0.002588672796264291,
 -0.020327525213360786,
 -0.023955168202519417,
 0.016483498737215996,
 0.0016276658279821277,
 0.03714196756482124,
 -0.012588555924594402,
 -0.0027907388284802437,
 -0.007465306203812361,
 0.02729005366563797,
 -0.0063356454484164715,
 -0.006962527520954609,
 -0.017819996923208237,
 -0.01222579088062048,
 0.013568655587732792,
 0.0099091911688447,
 0.010691998526453972,
 0.006408834829926491,
 -0.007427120581269264,
 0.014039612375199795,
 0.008018999360501766,
 -0.003544906619936228,
 0.03495265170931816,
 0.0010310141369700432,
 -0.010768369771540165,
 0.007847162894904613,
 -0.025368040427565575,
 -0.009648256003856659,
 0.006068345624953508,
 -0.005355545785278082,
 -0.0059092384763062,
 0.009151841513812542,
 0.007637141738086939,
 0.0007088222191669047,
 0.013110427185893059,
 -0.012333984486758709,
 -0.006103349383920431,
 0.003567181760445237,
 -0.01010011974722147,
 0.01742541231215,
 0.0099091911688447,
 0.04452453553676605,
 0.019805654883384705,
 0.013161340728402138,
 -0.030523110181093216,
 0.014141441322863102,
 -0.007548042107373476,
 -0.0004423178033903241,
 0.016559869050979614,
 0.014676040969789028,
 -0.01668715476989746,
 0.013619570061564445,
 -0.004066777881234884,
 0.0030978156719356775,
 0.009030920453369617,
 -0.02693365328013897,
 0.025724438950419426,
 0.014408741146326065,
 -0.00039359123911708593,
 0.011773927137255669,
 -0.06242090463638306,
 0.007751699071377516,
 0.02031479775905609,
 -0.03278879448771477,
 -0.010691998526453972,
 0.008337213657796383,
 0.0008078663959167898,
 -0.014306912198662758,
 0.03574182465672493,
 -0.018392782658338547,
 0.017387226223945618,
 -0.000918843608815223,
 -0.02606811188161373,
 0.00948914885520935,
 -0.0032378300093114376,
 -0.0034048925153911114,
 0.00015423446893692017,
 -0.026399053633213043,
 0.0032203281298279762,
 0.008629970252513885,
 0.0032776067964732647,
 -0.01687808334827423,
 0.023318739607930183,
 -0.008878177031874657,
 -0.012448540888726711,
 -0.005816956516355276,
 0.018876468762755394,
 0.0104437917470932,
 0.0053109959699213505,
 0.003653099527582526,
 0.025609882548451424,
 0.021905869245529175,
 0.013161340728402138,
 -0.024082453921437263,
 -0.012722205370664597,
 -0.007522584870457649,
 -0.016063455492258072,
 0.011786655522882938,
 -0.02241501212120056,
 -0.005333270877599716,
 -0.015872526913881302,
 -0.022160440683364868,
 -0.007140727713704109,
 -0.01690354011952877,
 0.0028257425874471664,
 -0.004394538700580597,
 -0.006259274203330278,
 -0.0188637413084507,
 0.010271956212818623,
 -0.002591855125501752,
 0.024324296042323112,
 0.005161434877663851,
 0.021116698160767555,
 0.013390455394983292,
 0.013963241130113602,
 -0.021816767752170563,
 0.015019712038338184,
 0.020709382370114326,
 0.03115953877568245,
 -0.017056284472346306,
 -0.00319646205753088,
 0.004025410395115614,
 -0.020836668089032173,
 0.021065782755613327,
 -0.006046070717275143,
 -0.021002139896154404,
 0.00022692653874401003,
 -0.013390455394983292,
 -0.014625126495957375,
 0.002779601374641061,
 -0.02769736759364605,
 0.008980005979537964,
 0.005094610154628754,
 -0.0037835673429071903,
 -0.024515224620699883,
 0.0006097780424170196,
 0.04162242263555527,
 -0.0028559728525578976,
 0.027366425842046738,
 0.01237853430211544,
 -0.040196824818849564,
 0.018634626641869545,
 -0.00413678539916873,
 0.02401881106197834,
 -0.0009729400626383722,
 -0.024935267865657806,
 -0.002828924683853984,
 0.021091239526867867,
 0.0193346980959177,
 -0.0007561565726064146,
 -0.017323583364486694,
 -0.015910713002085686,
 0.00852177757769823,

In [21]:
from openai.embeddings_utils import distances_from_embeddings
df["distances"] = distances_from_embeddings(
    question_embeddings,
    df["embeddings"].to_list(),
    distance_metric="cosine"
)

In [22]:
shortest = df.sort_values(by="distances").iloc[0]
shortest

text          March 2 – 2022 Russian invasion of Ukraine: Ru...
embeddings    [-7.068190461723134e-05, -0.03225385770201683,...
distances                                              0.115224
Name: 52, dtype: object

In [25]:
from openai.embeddings_utils import get_embedding, distances_from_embeddings
EMBEDDING_MODEL_NAME = "text-embedding-ada-002"

def get_rows_sorted_by_relevance(question, df):
    """
    Function that takes in a question string and a dataframe containing
    rows of text and associated embeddings, and returns that dataframe
    sorted from least to most relevant for that question
    """

    # Get embeddings for the question text
    question_embeddings = get_embedding(question, engine=EMBEDDING_MODEL_NAME)

    # Make a copy of the dataframe and add a "distances" column containing
    # the cosine distances between each row's embeddings and the
    # embeddings of the question
    df_copy = df.copy()
    df_copy["distances"] = distances_from_embeddings(
        question_embeddings,
        df_copy["embeddings"].to_list(),
        distance_metric="cosine"
    )

    # Sort the copied dataframe by the distances and return it
    # (shorter distance = more relevant so we sort in ascending order)
    df_copy.sort_values("distances", ascending=True, inplace=True)
    return df_copy

In [26]:
get_rows_sorted_by_relevance(question, df)

,text,embeddings,distances
52,March 2 – 2022 Russian invasion of Ukraine: Ru...,"[-7.068190461723134e-05, -0.03225385770201683,...",0.115171
79,April 3 – 2022 Russian invasion of Ukraine: As...,"[-0.013741135597229004, -0.02586185373365879, ...",0.115730
188,October 8 – 2022 Russian invasion of Ukraine: ...,"[-0.014346115291118622, -0.017521075904369354,...",0.120102
197,October 29 – 2022 Russian invasion of Ukraine:...,"[-0.007012648973613977, -0.04132407531142235, ...",0.120259
34,February 21–24 – Russian President Vladimir Pu...,"[-0.00456717424094677, -0.005147133022546768, ...",0.121752
...,...,...,...
221,"November 30 – OpenAI releases ChatGPT, an arti...","[-0.011301065795123577, -0.014325111173093319,...",0.291775
74,March 31 – Expo 2020 closes in Dubai after a 6...,"[-0.0031263940036296844, -0.04660109058022499,...",0.294036
210,"November 11 – The cryptocurrency exchange FTX,...","[0.0022525235544890165, -0.025786597281694412,...",0.295230
219,November 20 – 2022 Nepalese general election: ...,"[-0.00422509154304862, -0.0007446320960298181,...",0.296548
81,April 4 – The Intergovernmental Panel on Clima...,"[-0.010447862558066845, -0.016466809436678886,...",0.298501